@model TracNghiem.Models.MonHoc

@{
    ViewBag.Controller = "Môn học";
    ViewBag.Title = "Chi tiết môn học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            Môn học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMonHocs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meta)
        </dd>

        <dt>
            Khối/lớp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khois.TenKhoi)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "MonHocs", new {id = Model.id })" class="btn btn-warning" style="margin: 0px 5px;">
        <i class="fas fa-edit"></i>
        <span>
            <strong>Cập nhật</strong>
        </span>
    </a>

    <a href="@Url.Action("Index", "MonHocs")" class="btn btn-primary" style="margin: 0px 5px;">
        <i class="fas fa-list"></i>
        <span>
            <strong>Danh sách</strong>
        </span>
    </a>
</p>
