@model IEnumerable<TracNghiem.Models.MonHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên môn học
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meta)
        </th>
        <th>
            Tên khối/tên lớp
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            Tên môn học
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meta)
        </td>
        <td>
            Tên khối/tên lớp
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
