@model TracNghiem.Models.CauHois

@{
    ViewBag.Controller = "Câu hỏi";
    ViewBag.Title = "Tạo câu hỏi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal fw-bold">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        Câu hỏi
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cauhoi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cauhoi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Đáp án A
        <div class="col-md-10">
            @Html.EditorFor(model => model.dap_an_a, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dap_an_a, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Đáp án B
        <div class="col-md-10">
            @Html.EditorFor(model => model.dap_an_b, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dap_an_b, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Đáp án C
        <div class="col-md-10">
            @Html.EditorFor(model => model.dap_an_c, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dap_an_c, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Đáp án D
        <div class="col-md-10">
            @Html.EditorFor(model => model.dap_an_d, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dap_an_d, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Đáp án đúng
        <div class="col-md-10">
            @Html.DropDownList("MaDapAn", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaDapAn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Ghi chú
        <div class="col-md-10">
            @Html.EditorFor(model => model.ghi_chu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ghi_chu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Môn học
        <div class="col-md-10">
            @Html.DropDownList("MaMonHoc", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaMonHoc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Mức độ
        <div class="col-md-10">
            @Html.DropDownList("MaMucDo", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaMucDo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-primary" style="margin: 10px 5px 10px 0px;">
                <i class="fas fa-plus"></i>
                <span>
                    <strong>Thêm câu hỏi</strong>
                </span>
            </button>

            <a href="@Url.Action("Index", "CauHois")" class="btn btn-primary" style="margin: 5px 5px;">
                <i class="fas fa-list"></i>
                <span>
                    <strong>Danh sách</strong>
                </span>
            </a>
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
