@model TracNghiem.Models.CauHois

@{
    ViewBag.Controller = "Câu hỏi";
    ViewBag.Title = "Xóa câu hỏi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-danger">Xác nhận xóa câu hỏi?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Câu hỏi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cauhoi)
        </dd>

        <dt>
            Đáp án A
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dap_an_a)
        </dd>

        <dt>
            Đáp án B
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dap_an_b)
        </dd>

        <dt>
            Đáp án C
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dap_an_c)
        </dd>

        <dt>
            Đáp án D
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dap_an_d)
        </dd>

        <dt>
            Đáp án đúng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DapAn.DapAn1)
        </dd>

        <dt>
            Ghi chú
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghi_chu)
        </dd>

        <dt>
            Môn học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc.TenMonHocs)
        </dd>

        <dt>
            Mức độ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MucDoKho.TenMucDo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <button type="submit" class="btn btn-danger" style="margin: 0px 5px;;">
        <i class="fas fa-trash"></i>
        <span>
            <strong>Xóa</strong>
        </span>
    </button>

    <a href="@Url.Action("Index", "CauHois")" class="btn btn-primary" style="margin: 0px 5px;;">
        <i class="fas fa-list"></i>
        <span>
            <strong>Danh sách</strong>
        </span>
    </a>
</div>
    }
</div>
